.choresText {
  color: darkmagenta;
  font-style: italic;
}

.choresHeading {
  color: rebeccapurple;
  text-decoration: underline;
}

.choresList {
  font-family: Cambria, serif;
  text-align: left;
  font-size: 1.1rem;
}
